body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

header{
    height: 80px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content:space-between;
    padding-left: 90px;
    padding-right: 90px;
    align-items: center;
    
}

#headerlogo{
    height: 100%;
}

.headerbuttons{
    background-color: white;
    font-family: 'Poppins';
    border: 0px;
    font-size: 25px;
}
.headerbuttons:hover {
    text-decoration: underline #f1a400 4px;
}


.introduction{
   display: flex;
   justify-content: center;
   height: 70vh;
   align-items: center;
   
}

#heropic{
    height: 400px;
    width: 414x;
  
}

#introtext{
    width: 800px;
    background-color: white;
    margin-left: 50px;

}
#hellothere{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 80px;
color: navy;
}

#p-intro{
    font-family: 'poppins';
    font-size:25px;
    line-height: 50px;
    
}
 
#mywork{
    margin-left: 100px;
}
.work{
    background-color: #eeeee6; 
    height: 100%;
    margin: 0px;
    padding: 50px;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 90px;
    font-family: 'poppins';
    font-size:45pt;
}
#case1{
    background-color: navy;
}
#case3{
    background-color: #f1a400;
}
.casestudy{
    background-color: lightseagreen;
    margin: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80vh;
    width: 80;
    align-items: center;
    align-content: center;
    border-radius: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 30px;
    color: white;
    line-height: 60px;
}

.titles{
    font-size: 50px;
}

.viewcase{
    font-family: 'Poppins';
    font-weight: bolder;
    border: 0px;
    font-size: 25px;
    background-color: transparent;
    color: white;
    transition-duration: 0.4s;
    
}
.viewcase:hover {
    background-color:white;
    border-radius: 50px;
    color: black;
    

  }
#doeimage{
    height: 90%;
}

#travelappimage{
    height: 90%;
}
#abilisimage{
    height: 90%;
}


#footer{
    height: 80px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    font-family: 'poppins';
    font-size: 20pt;

}

#sunflowericon{
    height: 10vh;
}
#icons{
    height: 10vh;
}